body{
	color:black;
	background-color:white;
}
#wrapper{
	width:1000px;
	margin:0 auto;
	background-color:white;
}
.box{
  border:purple 4px dashed;
  padding-top: 20px;
  padding-bottom: 10px;
	padding-left: 20px;
	margin: auto;
}
#title{
font-weight: bold;
text-transform: uppercase;
color: white;
font-size: 25px;
font-family:sans-serif;
text-align: center;
background-color: gray;
}
#header{
font-size: 20px;
text-decoration: underline;
text-align: center;
}
#menu{
	width:25px;
	height:25px;
	background-color:black;
	position: fixed;

}
.P1{
font-weight: bold;
font-size: 16px;
padding-left:50px;
position: absolute;
}
.div1{
	font-size: 20px;
}
.list1{
	font-family: monospace;
	color: red;
}
.list2{
	font-family: monospace;
	color: green;
}
.P2{
	font-weight: bold;
	font-size: 16px;
}
#Images{
text-align: center;
font-style: italic;
font-size: 20px;
object-fit: contain;
}
.image{
	object-fit: contain;
	width: 1000px;
}
.P3{
	text-align: center;
	font-size: 25px;
}
.P1,.P2,.P3{
color: brown;
}
.P4{
	text-align: center;
	font-size: 25px;
	position: relative;
}
